#train-table th,
td {
    display: inline-block;
    width: 20%;
}

body {
    background-image: url("../images/ugur-akdemir-263292-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'KoHo', sans-serif;
}
.jumbotron {
    height: 100px;
    background-color: #9a9a9f;opacity:0.9;
    color: white;
}
.btn {
    background-color: rgb(73, 70, 90);
    color: white;
}